.challengeBoxContainer {

   background   : var(--white);
   border-radius: 1rem;
   box-shadow   : 0 0 60px #0003;
   text-align   : center;

   display        : flex;
   flex-direction : column;
   align-items    : center;
   justify-content: center;

   max-width: 600px;

   flex: 1;
}

/**/
.challengesActive {

   display       : flex;
   flex-direction: column;

   padding: 1rem;

   animation-name     : Down;
   animation-duration : .3s;
   animation-delay    : .2s;
   animation-fill-mode: backwards;
}

.challengesActive header {

   border-bottom: solid 1px var(--gray-line);
   color        : var(--blue);
   font-weight  : 600;
   font-size    : 1.2rem;

   padding: .5rem;
}

.challengesActive main {

   display        : flex;
   flex-direction : column;
   align-items    : center;
   justify-content: center;

   font-size : 1rem;
   text-align: auto;
}

.challengesActive main img {

   width: clamp(6rem, 10vw, 10rem);

   margin: 1rem 0;
}

.challengesActive main strong {

   color      : var(--title);
   font-size  : 2rem;
   font-weight: 600;
   margin     : .5rem;
}

.challengesActive footer {

   display              : grid;
   grid-template-columns: repeat(2, 1fr);
   gap                  : .5rem;
   margin-top           : 1rem;
}

.challengesActive footer button {


   border       : 0;
   border-radius: 1rem;
   color        : var(--white);
   font-size    : 1rem;
   font-weight  : 600;

   height: clamp(3rem, 5vw, 5rem);

   display        : grid;
   align-items    : center;
   justify-content: center;

}

.challengesActive .ChallengeFailed {

   background: var(--red);
   transition: opacity .3s;
}

.challengesActive .ChallengeCompleted {

   background: var(--green);
   transition: filter .2s;
}

.challengesActive button:hover {

   filter: brightness(.9);
}

/*375*/
.challengesNA {

   display        : flex;
   flex-direction : column;
   justify-content: space-around;
   padding        : 3rem 1rem;
}

.challengesNA strong {

   font-size  : 1.4rem;
   font-weight: 600;
   line-height: 1.2;
}

.challengesNA div {

   display        : flex;
   flex-direction : column;
   align-items    : center;
   justify-content: center;

   text-align: center;
   font-size : 1.2rem;

   width      : 100%;
   line-height: 1.3;
}

.challengesNA div img {

   width : clamp(4.5rem, 10vw, 5rem);
   margin: clamp(1.8rem, 5vw, 4rem);
}

@keyframes Down {

   from {

      opacity  : 0;
      transform: translateY(-50px)
   }

   to {

      opacity  : 1;
      transform: translateY(0)
   }
}