.CompletedChalengesContainer {

   display        : flex;
   align-items    : center;
   justify-content: space-between;

   margin        : clamp(1rem, 2vw, 3rem);
   padding-bottom: clamp(.5rem, 1vw, 3rem);
   border-bottom : 1px solid #d7d8da;

   font-weight: 500;
}

.CompletedChalengesContainer span:first-child {

   font-size: 1.25rem;
}

.CompletedChalengesContainer span:last-child {

   font-size: 1.5rem;
}